.Toparticles-container{
    margin-top: 80px;
}
.article-spacing {
    margin-bottom: 20px; 
}
.Top-article{
    color: var(--color-button);
    font-size: 16px;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: 600;
}
