.centered-video {
   
height: 420px; }
.phara-pic{
    width: 1rem;
    height: 1rem;
    margin-bottom: 1.5rem;
}
.para-title{
    font-size: 20px;
    font-family: var(font-family);
    font-weight: 700;
    margin-bottom: 1.5rem;
}
